:root {
  --bg-water: blue;
  --bg-fire: #ff0000;
  --bg-grass: #008000;
  --bg-psychic: purple;
  --bg-ghost: indigo;
  --bg-ground: burlywood;
  --bg-fight: crimson;
  --bg-dragon: darkslateblue;
  --bg-fairy: pink;
  --bg-electric: gold;
  --bg-bug: olive;
  --bg-poison: #8b008b;
  --bg-dark: black;
  --bg-steel: silver;
  --bg-normal: grey;
  --bg-rock: brown;
  --bg-ice: teal;
  --bg-fly: lightblue;
}

.Pokecard {
  color: white;
  background-color: rgb(180, 180, 180);
  width: 200px;
  height: 240px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 4px 3px 8px;
  transition: all 300ms ease;
}

.Pokecard:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 300ms ease;
}

.Pokecard .Pokecard-bg {
  opacity: 0.1;
  /* color: white; */
  position: absolute;
  /* right: -11px; */
  /* bottom: -11px; */
  transform: scale(1.1);
}

.Pokecard img {
  width: 150px;
}

.Pokecard p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.4rem;

  padding: 10px;
}
